training:
  epochs: 100
  batch_size: 8
  save_path: "workspace/Zipformer/saves"
  voice_path: "workspace/dataset/voices"
  train_path : "workspace/dataset/train_w2i.json"
  dev_path : "workspace/dataset/test_w2i.json"
  test_path : "workspace/dataset/test_w2i.json"
  vocab_path : "workspace/dataset/vocab_w2i.json"
  log_path: "workspace/Zipformer/logs"
  result: "workspace/Zipformer/result.txt"
  reload: False

model:
  conv_embeded: 
    # input_dim: 80
    output_dim: 640
    # conv_dims: [8, 32, 128]
    # dropout: 0.1
    num_blocks: 2
    num_layers_per_block: 1
    out_channels: [64, 32]
    kernel_sizes: [3,3]
    strides: [2,2]
    residuals: [False, False]
    dropout: 0.1
  enc:
    output_downsampling_factor: 2
    downsampling_factor: [2, 2, 2, 2]
    encoder_dim: [192,256,256,256]
    num_encoder_layers: [2, 2, 2, 2]
    encoder_unmasked_dim: [192,256,256,256]
    query_head_dim: 32
    pos_head_dim: 4
    value_head_dim: 12     # paper
    num_heads: [4,4,4,4]  # paper
    feedforward_dim: [512,768,768,768]  # paper
    cnn_module_kernel: [31,31,15,15]     # paper
    pos_dim: 192
    dropout: 0.1  
    warmup_batches: 10000.0
    causal: True
    chunk_size: [16]
    left_context_frames: [64]  
  dec: 
    type: 'lstm'   
    embedding_size: 512
    hidden_size: 512
    output_size: 256 
    n_layers: 2
    dropout: 0.2
  joint: 
    input_size: 512
    hidden_size: 320
  dropout: 0.1
  name : 'Zipformer'
  share_weight: False

optim:
  # type: sgd
  # lr: 0.0005
  # momentum: 0.9
  # weight_decay: 0
  # begin_to_adjust_lr: 60
  # nesterov: None
  # decay_rate: 0.5

  type: adam
  lr: 0.001
  weight_decay: 0.0001
  decay_rate: 0.5

scheduler:
  lr_initial: 0.001
  n_warmup_steps: 10000

rnnt_loss:
  blank: 4
  reduction: "mean" 